<!-- def custom_login(request):
#     if request.method == 'POST':
#         username = request.POST.get('username')
#         password = request.POST.get('password')
#         user = authenticate(request, username=username, password=password)
#         if user is not None:
#             login(request, user)

#             # Set session variables
#             request.session['username'] = username
#             # You can set additional session variables if needed

#             # Set cookies
#             response = redirect('navbar_and_sidebar')
#             response.set_cookie('username', username)
#             # You can set additional cookies if needed

#             if user.groups.filter(name='superuser').exists():
#                 return response
#             ##admin page
#             elif user.groups.filter(name='admin').exists():
#                 return response

#             elif user.groups.filter(name='user').exists():
#                 return response
#         else:
#             # Handle invalid login credentials
#             return render(request, 'login.html', {'error_message': 'Invalid username or password'})
#     else:
#         # Clear session and cookies on GET request
#         request.session.flush()
#         response = render(request, 'login.html')
#         response.delete_cookie('username')
#         return response -->